.bubbles-container {
  text-align: center;
  display: block;

  .bubble {
    display: inline-block;
    width: 200px;
    aspect-ratio: 1/1;
    position: relative;
    background-color: #f2f2f2;
    font-weight: 600;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px 20px;
    margin-left: 0px;
    text-align: center;
    z-index: 5;
  }

  .bubble:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
    color: white;
  }

  .bubble.expanded {
    transform: scale(1.6);
    font-size: 0.625em;
    z-index: 100;
  }

  .bubble-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .bubble-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    white-space: pre-wrap;
  }

  .bubble.expanded .bubble-content {
    display: block;
  }

  .bubble.expanded .bubble-label {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .bubbles-container {
      max-width: 100%;
      padding: 0 20px;
    }

    .bubble {
      width: calc(50% - 10px);
      height: 150px;
    }

    .bubble:hover {
      width: 50%;
      height: 200px;
    }

    .bubble.expanded {
      width: 60%;
      height: 250px;
    }
  }
}