.bubbles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 10px);
  height: 200px;
  position: relative;
  background-color: rgb(255, 196, 0);
  color: white;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
  text-align: center;
}

.bubble:hover {
  width: 30%;
  height: 250px;
}

.bubble.expanded {
  width: 40%;
  height: 300px;
}

.bubble-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.bubble-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}

.bubble.expanded .bubble-content {
  display: block;
}

.bubble.expanded .bubble-label {
  display: none;
}

@media screen and (max-width: 768px) {
  .bubbles-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .bubble {
    width: calc(50% - 10px);
    height: 150px;
  }
  
  .bubble:hover {
    width: 50%;
    height: 200px;
  }
  
  .bubble.expanded {
    width: 60%;
    height: 250px;
  }
}
