body {
  font-family: Arial, sans-serif;
  background-color: #de7207;
  color: #333;
}

header {
  background-color: #ec7608;
  color: #ffffff;
  padding: 1rem;
}

main {
  padding: 2rem;
}

.dual-layout {
  display: flex;
}

.layout-1 {
  flex: 1;
}

.layout-2 {
  flex: 1;
}

.layout-3 {
  flex: 1;
}