.ndn-router-info {
  header {
    background-color: var(--main-color);
    color: #ffffff;
    padding: 1rem;
  }

  main {
    padding: 2rem;
  }

  .dual-layout {
    display: flex;
  }

  .layout-1 {
    flex: 1;
  }

  .layout-2 {
    flex: 1;
  }

  .layout-3 {
    flex: 1;
  }
}