$borderRadius: 25px;
$outerPadding: 15px;

.app-outer {
  background-color: #fdfdfd;
  height: calc(100vh - 2 * $outerPadding);
  margin: 0;

  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;

  .main.menu li > a {
    padding: 0.8em 0.9em;
    margin: 0.2em 0;
    font-size: 1.05em;
    border-radius: $borderRadius;

    &.active {
      background-color: var(--main-color);
      color: white;
    }
  }

  .logo {
    width: 90%;
    margin: 10px auto;
  }

  .outlet {
    padding-left: 10px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
  }

  @media (max-width: 768px) {
    border-radius: 0;
    height: 100vh;

    .outlet {
      padding-right: 5px;
    }
  }
}