$borderRadius: 20px;
$outerPadding: 15px;

.outer {
  background-color: #fdfdfd;
  height: calc(100vh - 2 * $outerPadding);
  margin: 0;

  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;

  .main.menu li > a {
    padding: 0.85em;
    font-size: 1.05em;
    border-radius: $borderRadius;
  }

  .logo {
    width: 90%;
    margin: 10px auto;
  }
}