$borderRadius: 25px;
$outerPadding: 15px;

.outer {
  background-color: #fdfdfd;
  height: calc(100vh - 2 * $outerPadding);
  margin: 0;

  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;

  .main.menu li > a {
    padding: 0.8em 0.9em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.05em;
    border-radius: $borderRadius;

    &.active {
      background-color: hsl(348, 100%, 61%);
      color: white;
    }
  }

  .logo {
    width: 90%;
    margin: 10px auto;
  }

  .outlet {
    padding-right: 30px;
  }
}